.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__image:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../Images/images/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url("../Images/images/hover.png");
  opacity: 1;
}

.card__title {
  margin: 0;
  font: 500 20px/1.2 "Poppins", Arial, sans-serif;
  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url("../Images/images/Heart.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-button-active:hover {
  background-image: url(../Images/images/like.svg);
  opacity: 0.4;
}

.card__like-button-active {
  background-image: url(../Images/images/like.svg);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
