.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  gap: 20px;
}

.footer__copyright {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
  text-align: center;
}
