/* TODO - add corerect font styles for everything */
/* TODO - responsive design */
.modal {
  visibility: hidden;
  background-color: #00000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url("close-icon.svg") center/contain no-repeat;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Inter", "Roboto", sans-serif;
  color: #212121;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  margin-top: 8px;
  outline: none;
}

.modal__input::placeholder {
  color: #21212140;
}

.modal__submit-btn {
  max-width: 156px;
}

@media (max-width: 600px) {
  .modal__container {
    padding: 24px;
  }

  .modal__close-btn {
    top: 16px;
    right: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
