/* TODO - add corerect font styles for everything */
/* TODO - responsive design */

.modol {
  visibility: hidden;
  background-color: #00000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modol_is-opened {
  visibility: visible;
}

.modol__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modol__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  /* TODO - add close icon and make sure it looks right */
}

.modol__title {
  margin: 0 0 32px;
}

.modol__form {
  display: flex;
  flex-direction: column;
}

.modol__label {
  margin: 0 0 32px;
}

.modol__input {
  display: flex;
  margin: 8px 0 0;
  /* TODO - border, padding  */
}

.modol__input::placeholder {
  color: #21212140;
}

.modol__submit-btn {
  max-width: 156px;
  /* TODO - remove max-width in media entry */
}
