.profile {
  display: flex;
  padding: 34px 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 0 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
}

.profile__add-btn {
  margin-left: auto;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-block-size: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
   }
}
