.profile {
  display: flex;
  padding: 34px 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-width: 420px;
  margin: 0 0 12px;
  color: #212121;
}

.profile__description {
  margin: 0 0 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  -webkit-line-clamp: 3;
}

.profile__edit-btn:hover,
.profile__add-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  width: 157px;
  height: 52px;
  background: #212121;
  color: #fcf5e5;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    width: 100%;
  }
}
